.scroll-arrow-link {
	display: block;
	transform: translateY(.75em);
	transition:all 0.2s;
}

.scroll-down-container > a:not(.scroll-arrow-link) {
    text-decoration: none;
	display: block;
    transform: translateY(-3em);
	transition:all 0.2s;
	opacity: 0;
}

.scroll-arrow-link:hover {
	transform: scale(1.1) translateY(0.9em);    
	transition:all 0.2s;
}

.scroll-arrow-link:hover + a {
	transform: translateY(-3.5em);
	opacity: 1;
	transition:all 0.4s;
}

.web-text, .mobile-text, .api-text {
	opacity: 0;
    transform: translateY(-1em);
	transition:all 0.2s;
}

.web:hover > div, .mobile:hover > div, .api:hover > div {
    transform:scale(1.25);
	transition:all 0.2s;
}

.web:hover > h3, .mobile:hover > h3, .api:hover > h3 {
	opacity: 1;
	transform: translateY(1em);
    transition:all 0.2s;
}

.contact-me > div:hover {
    transform:scale(1.25);
	transition:all 0.2s;
}

@media (any-pointer: coarse) {
    .scroll-arrow-link {
        transform: translateY(0.9em);
    }
    
    .scroll-down-container > a:not(.scroll-arrow-link) {
        opacity: 1;
        transform: translateY(-3.5em);
    }
    
    .web-text, .mobile-text, .api-text {
        opacity: 1;
        transform: translateY(1em);
    }
}
