.scroll-arrow-link {
	display: block;
	transform: translateY(1em);
	transition:all 0.2s;
}

.scroll-down-container > a:not(.scroll-arrow-link) {
    text-decoration: none;
	display: block;
    transform: translateY(-1.4em);
	transition:all 0.2s;
	opacity: 0;
}

.scroll-arrow-link:hover {
	font-size: 1.2em;
	transition:all 0.2s;
}

.scroll-arrow-link:hover + a {
	bottom: 2em;
	opacity: 1;
	transition:all 0.4s;
}
