@font-face
{
    font-family: London;
    src: url('../fonts/London.ttf');
}

html {
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url('../img/MacKeyboard.jpg') no-repeat center fixed; 
    background-size: cover;
    overflow: hidden;
}
/*
body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}*/

h1{
    font-size: 10em;
    text-align: center;
    margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'London', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#coming-soon {
    margin: auto;
    width: 75%;
    padding-top: 10%;
}

/*.landing {
    width: 100%;
    height: 53.5%;
    background-color: rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
*/