@font-face {
	font-family: 'Spinwerad';
	src: url("../fonts/spinwerad.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'nunito', 'futura', sans-serif;
	font-size: 24px;
	color: #3a3a3a;
	min-height: 100vh;
	margin: 0;
}

h1 {
    font-family: 'spinwerad';
}

#landing {
    background-image: url(../img/landing_page.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

#hello {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
	height: 100%;
    min-width: 40%;
}

#hello h1 {
    font-size: 32vh;
    line-height: 0.8;
    font-family: spinwerad;
    color: #fff;
    width: min-content;
}

#about {
	display: flex;
    flex-direction: column;
	height: 100vh;
	align-items: center;
	background: #fff;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about-me > h1 {
    font-size: 12vh;
    margin: 0.25em;
}

.about-me > h3 {
    font-size: 4vh;
    margin: 0.25em;
}

.skills {
    display: flex;
    margin: 2em;
    width: 100vw;
}

.skills section div {
    display: flex;
    min-height: 200px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background: #3a3a3a;
    font-size: 3em;
    color: #fff;
}

.web, .mobile, .api {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

i {
    margin: auto;
}

#contact {
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: space-between;   
    height: 100vh;
    background: #3a3a3a;
    color: #fff;
}

.contact-form {
    text-align: center;
}

.contact-form > h1 {
    font-size: 3em;
    margin: 1em 0;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 60vw;
}

.contact-me > div {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 0 1rem;
    border-radius: 100px;
    background: #fff;
    font-size: 2em;
    color: #3a3a3a;
}

.contact-me > div > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
}

.contact-me > div > a > i {
    vertical-align: bottom;
}

.scroll-down-container {
    font-size: 2em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.scroll-down-container > a {
    max-width: max-content;
    margin: auto;
}

a {
	color: #3a3a3a;
}

a.scroll-link {
    font-size: 24px;
}

a:visited {
    text-decoration: none;
	color: #3a3a3a;
}
