@font-face {
  font-family: 'Spinwerad';
  src: url("../fonts/spinwerad.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', 'futura', sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  color: #6d907c;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  overflow: hidden;

}

h1 {
  font-family: 'spinwerad', serif;
}

#content {
  position: absolute;
  background-color: white;
  top: 10%;
  padding: 0 1em;
  border-radius: 2em;
  z-index: 1;
}

#landing {
  height: 100vh;
}

#container {
  display: inline-block;
  margin: 0 0 0 50%;
  height: 100%;
  width: 50%;
}

#portrait {
  position: fixed;
  left: -30%;
  clip-path: circle(50vh at 50% 50%);
  z-index: 0;
}

#container > h1 {
  background-color: #6d907c;
  clip-path: circle(30% at 48% 62%);
  text-align: center;
  font-size: 10vh;
  color: #fff;
  width: 50%;
  height: 50%;
  position: fixed;
  bottom: 0;
  right: 30%;
  margin: 0;
  z-index: 2;

}

.acc-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  text-align: right;
}

footer span {
  font-size: 2.3em;
  color: #6d907c;
  margin: 0 12px 12px 0;
}

#icons > span > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-bottom: none;
}

a, a:visited {
  color: #6d907c;
  text-decoration: none;
  border-bottom: 1px dashed #6d907c;
}

a.scroll-link {
  font-size: 24px;
  font-weight: 400;
}
