@font-face {
	font-family: 'Spinwerad';
	src: url("../fonts/spinwerad.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', 'futura', sans-serif;
	font-size: 1.5vw;
    font-weight: 300;
	color: #3a3a3a;
	min-height: 100vh;
    min-width: 100vw;
	margin: 0;
}

h1 {
    font-family: 'spinwerad';
}

h3 {
    font-weight: 300;
}

#landing {
    background-color: #3a3a3a;
    height: 100vh;
}

#container {
    background-color: #fff;
    display: inline-block;
    margin: 0 0 0 50%;
	height: 100%;
    width: 50%;
}

#container > h1 {
    font-size: 18vh;
    font-family: spinwerad;
    color: #fff;
    width: min-content;
    text-align: end;
    position: fixed;
    right: 49%;
}

nav {
    margin: 50px;
}

nav > ol {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

input[type="radio"] {
    display: none;
}

.nav-link > label {
    display: inline-block;
    padding: 0.3em;
    text-align: center;
    width: 3.5em;
    font-size: 1.5em;
    cursor: pointer;
}

input:checked + label {
    background-color: #3a3a3a; 
    border: 1px solid #3a3a3a;
    border-radius: 3px;
    color: #fff;
}

#about, #resume, #contact {
    visibility: collapse;
	max-height: 80%;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 50%;
    overflow: hidden;
}

#about-input:checked ~ #about {
    visibility: visible;
}

.about-me, .contact-me {
    text-align: left;
    margin: 0 15%;
}

#resume-input:checked ~ #resume {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume img {
    width: 100%;
    border: 1px dashed #3a3a3a;
}

#resume a {
    max-width: 66%;
    border: none;
    text-decoration: none;
}

#contact-input:checked ~ #contact {
    visibility: visible;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    display: none;
}

.contact-form > button {
    color: #fff;
    background-color: #3a3a3a;
    width: 30%;
    border-radius: 3px;
}

.contact-form > button:active {
    color: #3a3a3a;
    background-color: #fff;
    width: 30%;
    border-radius: 3px;
}

.contact-form > input[type=text], .contact-form > textarea, .contact-form > button {
    font-family: 'Quicksand', 'futura', sans-serif;
	font-size: 24px;
    padding: 8px;
    margin: 12px 0;
}

.contact-form > textarea {
    height: 250px;
    resize: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
footer > p {
    flex-grow: 1;
    max-width: 80%;
    text-align: right;
    font-size: 1em;
    margin: 12px;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    max-width: 100%; 
}

footer div {
    font-size: 2.3em;
    color: #3a3a3a;
    padding: 16px 8px;
}
footer div:last-child {
    padding: 16px 16px 16px 8px;
}

#icons > div > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-bottom: none;
    display: flex;
}

a, a:visited {
	color: #3a3a3a;
    text-decoration: none;
    border-bottom: 1px dashed #3a3a3a;
}

a.scroll-link {
    font-size: 24px;
    font-weight: 400;
}
