@media (orientation: portrait) {
    body {
        font-size: 2vh;
    }
    
   #landing {
        width: 100vw;
        position: fixed;
    }
    
    #content {
        margin: 0;
    }

    #container {
        background-color: #fff;
        display: inline-block;
        position: fixed;
        margin: 0;    
        top: 50%;
        height: 50%;
        width: 100%;
    }

    #container > h1 {
        font-size: 18vw;
        font-family: spinwerad;
        color: #fff;
        margin: 0;
        width: 100%;
        text-align: start;
        position: fixed;
        right: 0;
        bottom: 45%;
    }
    
    #about, #work, #contact {
        width: 100vw;
        position: absolute;
        left: 10%;
    }
    
    .about-me, .contact-me, .resume-link {
        text-align: left;
        margin: 0 15% 0 0;
    }

    .contact-form > input[type=text], .contact-form > textarea, .contact-form > button {
        font-size: 2vh;
    }
}

@media (max-width: 425px) {
    body {
        font-size: max(1.75vh, 12px);
    }   

    #container > h1 {
        right: 0;
        bottom: 47%;
    }
}
