@media (orientation: portrait) {
  body {
    font-size: 2vh;
  }

  #portrait {
    display: none;
  }

  #landing {
    background-color: #6d907c;    
  }
    
  #container {
    background-color: #fff;
    display: inline-block;
    position: fixed;
    margin: 0;
    top: 50%;
    height: 50%;
    width: 100%;
  }

  #container > h1 {
    clip-path: none !important;
    font-size: 18vw;
    color: #fff;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: start;
    position: fixed;
    right: 0 !important;
    bottom: 45% !important;
  }
}

@media (max-width: 425px) {
  body {
    font-size: max(1.75vh, 12px);
  }

  #container > h1 {
    clip-path: none;
    right: 0;
    bottom: 47% !important;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  #container {
    top: 40%;
    height: 60%;
  }

  #container > h1 {
    clip-path: none;
    font-size: 56px;
    bottom: 59% !important;
  }
}

@media (min-width: 800px) and (max-width: 1365px) {
  #portrait {
    left: -62%;
  }
    
  #content {
    top: 5%;
  }
    
  #container > h1 {
    clip-path: circle(37% at 50% 56%);
    bottom: 3vh;
    right: 22vw;
  }
}

@media (min-width: 1023px) {
  #portrait {
    height: 100%;
    left: -35vw !important;
    bottom: -22vh !important;
  }
  
  #container > h1 {
    clip-path: circle(33% at 50% 45%);
    bottom: 2vh;
    right: 22vw;
  }
}

@media (min-width: 1366px) {
  #portrait {
    position: fixed;
    left: -20%;
    clip-path: circle(50vh at 50% 50%);
  }
}
