@media (orientation: portrait) {
  body {
    font-size: 2vh;
  }

  #portrait {
    display: none;
  }

  #container {
    background-color: #fff;
    display: inline-block;
    position: fixed;
    margin: 0;
    top: 50%;
    height: 50%;
    width: 100%;
  }

  #container > h1 {
    clip-path: none;
    font-size: 18vw;
    color: #fff;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: start;
    position: fixed;
    right: 0;
    bottom: 45%;
  }
}

@media (max-width: 425px) {
  body {
    font-size: max(1.75vh, 12px);
  }

  #container > h1 {
    clip-path: none;
    right: 0;
    bottom: 47%;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  #container {
    top: 40%;
    height: 60%;
  }

  #container > h1 {
    clip-path: none;
    font-size: 56px;
    bottom: 59%;
  }

  #content {
    margin: 5% 10%;
  }
}

@media (min-wdith: 1920px) {
  #portrait {
    position: fixed;
    left: -10%;
    clip-path: circle(40vh at 50% 50%);
  }
}
