@font-face {
	font-family: 'London Fill';
	src: url("../fonts/London Fill.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'helvetica neue', sans-serif;
	font-size: 12px;
	color: #3a3a3a;
	min-height: 100vh;
	margin: 0;
}

h1 {
	color: #fff;
    font-family: 'London Fill', serif;
    font-size: 250px;
    margin: auto;
    word-wrap: break-word;
}

object {
	margin: auto;
	width: 66.6%;
	height: 66.6%;
}

#landing {
	background-image: url('../img/landing_page.jpg');
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

#hello {
	display: flex;
	flex-start: right;
	align-items: center;
	width: 40%;
	height: 100%;
}

#about {
	display: flex;
	height: 100vh;
	align-items: center;
	background: #fff;
}

#coming-soon {
	display: flex;
	height: 100%;
	width: 100%;
}

.scroll-down-container {
    font-size: 2em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.scroll-down-container > a {
    max-width: max-content;
    margin: auto;
}

.scroll-arrow-link {
	display: block;
	transform: translateY(100%);
}

.scroll-down-container > a:not(.scroll-arrow-link) {
    text-decoration: none;
	display: block;
	transform: translateY(-80%);
	transition:all 0.2s;
	opacity: 0;
}

.scroll-arrow-link:hover + a {
	bottom: 2em;
	opacity: 1;
	transform: translateY(-100%);
	transition:all 0.4s;
}

a {
	color: #3a3a3a;
}

a:visited {
    text-decoration: none;
	color: #3a3a3a;
}
